<div class="min-h-screen bg-gray-50 py-8 px-4 w-full">
  <app-task-input (addTask)="taskApiService.addTaskToApi($event)" />

      <div class="flex flex-row justify-between items-center mb-8">
          <app-task-filter-button [activeFilter]="taskService.activeFilter()" (filterChange)="taskService.toggleFilter($event)" />

        <app-task-stats [pendingTasksCount]="taskService.pendingTasksCount()" [completedTasksCount]="taskService.completedTasksCount()" />
      </div>
      
      

      <div>
        <h2>Tasks from API</h2>
        @if (taskApiService.isLoading()) {
          <div>Loading...</div>
        }
        @if (taskApiService.error()) {
          <div>Error: {{ taskApiService.error() }}</div>
        }
        @if (taskApiService.tasks()) {
            <div class="flex flex-col gap-2">
              <app-task-list [filteredTasks]="taskApiService.tasks()" (toggleTask)="taskService.toggleTask($event)" (deleteTask)="taskService.deleteTask($event)" />
          </div>
        }
      </div>
</div>