<div class="min-h-screen bg-gray-50 py-8 px-4 w-full">
  <app-task-input (addTask)="taskService.addTaskToApi($event)" />

  <div class="flex flex-row justify-center items-center mb-8 w-full">
    <button class="bg-blue-500 text-white px-4 py-2 rounded-md" (click)="taskService.refreshTasks()">Reload
      Tasks</button>
  </div>

  <div class="flex flex-row justify-between items-center mb-8">
    <app-task-filter-button [activeFilter]="taskService.activeFilter()"
      (filterChange)="taskService.filterTasks($event)" />

    <app-task-stats [pendingTasksCount]="taskService.pendingTasks()"
      [completedTasksCount]="taskService.completedTasks()" />
  </div>

  <div class="flex gap-2 mb-4">
    <button [disabled]="!taskService.canUndo()" (click)="taskService.undo()"
      class="w-12 h-12 rounded-full bg-blue-500 text-white hover:bg-blue-600 disabled:bg-gray-300 disabled:cursor-not-allowed flex items-center justify-center transition-colors">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
        class="w-6 h-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M9 15 3 9m0 0 6-6M3 9h12a6 6 0 0 1 0 12h-3" />
      </svg>
    </button>

    <button [disabled]="!taskService.canRedo()" (click)="taskService.redo()"
      class="w-12 h-12 rounded-full bg-blue-500 text-white hover:bg-blue-600 disabled:bg-gray-300 disabled:cursor-not-allowed flex items-center justify-center transition-colors">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
        class="w-6 h-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="m15 15 6-6m0 0-6-6m6 6H9a6 6 0 0 0 0 12h3" />
      </svg>
    </button>
  </div>


  <div class="flex flex-row justify-between mb-8 w-full">

    <div class="mb-8">
      <h2 class="text-2xl font-bold mb-4">Tasks from API ({{ taskService.totalTasks() }})</h2>
      @if (taskService.isLoading()) {
      <div>Loading...</div>
      }
      @if (taskService.error()) {
      <div>Error: {{ taskService.error() }}</div>
      }
      @if (taskService.filteredTasks()) {
      <div class="flex flex-col gap-2">
        <app-task-list [filteredTasks]="taskService.filteredTasks()" (toggleTask)="taskService.toggleTask($event)"
          (deleteTask)="taskService.deleteTask($event)" />
      </div>
      }
    </div>

    <div
      class="flex flex-col justify-between items-center mb-8 bg-gray-100 p-4 rounded-md !max-h-[500px] overflow-scroll">
      @for (history of historyService.snapshot; track history) {
      <p>Task: {{ history.title }} - {{ history.completed ? 'Completed' : 'Pending' }}</p>
      }
    </div>
  </div>



</div>