<div class="min-h-screen bg-gray-50 py-8 px-4 w-full">
  <app-task-input (addTask)="taskService.addTask($event)" />

      <div class="flex flex-row justify-between items-center mb-8">
          <app-task-filter-button [activeFilter]="taskService.activeFilter()" (filterChange)="taskService.toggleFilter($event)" />

        <app-task-stats [pendingTasksCount]="taskService.pendingTasksCount()" [completedTasksCount]="taskService.completedTasksCount()" />
      </div>
      
      <app-task-list [filteredTasks]="taskService.filteredTasks()" (toggleTask)="taskService.toggleTask($event)" (deleteTask)="taskService.deleteTask($event)" />
</div>